# Specify PyPI packages and their versions
#
# This is requirements.txt, where PyPI packages and their versions are specified
# for consistency and ease of setup. It is recommended that the packages are
# divided into groups separated by whitespace for better readability.
#
# For more details, read https://pip.pypa.io/en/stable/user_guide/#requirements-files

# For Hyperparameter optimization
optuna==2.3.0
# For configuration organization
omegaconf==2.0.5
# For pretty console logs
rich==9.5.1
# For prettifying Python code
black==20.8b1